@import '../../variables';

.main-header.dashboard{
    .menu a{
        margin-left: 32px;

        &:first-child{
            margin-right: 206px;
            margin-left: 0;
        }
    }

    .user-right{
        display: flex;
        align-items: center;
        padding-right: 7px;
        left: 2px;
        position: relative;
    }

    .notifications{
        padding-right: 16px;
    }

    .settings{
        padding: 0 15px;
    }

    .notifications, .settings{
        position: relative;

        img{
            height: 16px;
            width: auto;
        }

        &:after{
            content: '';
            height: 20px;
            position: absolute;
            right: 0;
            top: 2px;
            border-left: solid 1px $secondary_text;
        }
    }

    .user-avatar{
        display: flex;
        align-items: center;
        padding-left: 15px;

        & > img{
            width: 32px;
            height: 32px;
            border: 1px solid #fff;
            border-radius: 5px;
        }

        .avatar-menu{
            position: relative;
            margin-left: 5px;
            cursor: pointer;

            .logout{
                opacity: 0;
                height: 0;
                line-height: 38px;
                font-size: 12px;
                text-transform: uppercase;
                position: absolute;
                top: -30px;
                right: 0;
                padding: 0 20px;
                color: #212226;
                background-color: #00e5b9;
                border-radius: 5px;
                transition: .3s;
            }

            &:hover .logout{
                opacity: 1;
                height: 38px;
                top: 0;
            }
        }
    }
}