@import '../../variables';

.main-header{
    padding: 20px 0;
    background-color: $secondary_bg;
    
    .main-header-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            margin-left: 30px;
            color: $primary_text;
            line-height: 1.36;
            font-size: 11px;
            font-weight: 500;
            text-transform: uppercase;

            &:first-child{
                margin-left: 0;
                margin-right: 70px;
            }

            img{
                width: 170px;
                height: auto;
            }
        }
    }

    .main-btn{
        width: 113px;
        height: 32px;
        font-size: 11px;
        line-height: 2.36;
        font-weight: bold;

        a{
            font-size: 11px;
            line-height: 2.36;
            font-weight: bold;
        }
    }

    .menu-btn{
        display: none;
        cursor: pointer;
    }

    @media(max-width: 1024px){
        padding: 20px;
        background-color: transparent;

        .menu a{
            display: none;
        }

        .menu .logo-link{
            display: inline-block;

            img{
                width: 127px;
            }
        }

        .main-btn{
            display: none;
        }

        .menu-btn{
            display: block;
        }
    }
}

.mobile-nav-wrap{
    .mobile-overlay{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $secondary_bg;
        opacity: .5;
        z-index: 999;

        &.active{
            display: block;
        }
    }
}

.mobile-nav{
    display: none;
    position: fixed;
    width: 325px;
    height: 100vh;
    padding: 20px;
    top: 0;
    right: -400px;
    text-align: right;
    background-color: $secondary_action;
    z-index: 1000;
    transition: .3s;

    &.active{
        right: 0px;
    }

    a{
        display: block;
        margin-top: 15px;
        color: $primary_bg!important;
        line-height: 1.5;
        font-size: 16px;
        font-family: 'InterUIMedium';
    }

    .logo-link{
        img{
            width: 127px;
        }
    }

    .menu{
        margin: 165px 0 160px;
    }

    .main-btn{
        width: 113px;
        height: 32px;
        margin-left: auto;
        background-color: $secondary_bg;
        font-size: 11px;
        color: $secondary_text;
    }

    @media(max-width: 1024px){
        display: block;
    }
}

.logo-animation-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212226;
    z-index: 10000;

    .animate{

    }

    svg{
        width: 200px;
        height: auto;

        *{
            fill: #212226;
        }
    }

    polygon, path {
        stroke: #f6f6f6;
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        animation: draw 2.5s linear forwards, color 1s linear 3s forwards;
    }
       
    @keyframes draw {
        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes color {
        100% {
            fill: #f6f6f6;
        }
    }
}