@import '../../variables';

.page-section{
    padding-top: 200px;

    &.intro-section{
        padding-top: 189px;
        padding-bottom: 289px;

        .home-intro{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left{
                max-width: 561px;
                animation-duration: 1s;
                animation-name: fadeInDown;

                .logo{
                    img{
                        width: 305px;
                        height: auto;
                    }
                }

                .subtitle{
                    margin-top: 6px;
                    font-size: 38px;
                    line-height: 1.45;
                    color: $primary_text;
                }

                .description{
                    margin-top: 8px;
                    font-size: 20px;
                    line-height: 1.6;
                    color: $primary_text;
                }

                .main-btn{
                    width: 200px;
                    height: 45px;
                    margin-top: 20px;
                    font-size: 12px;
                    line-height: 1.5;
                    color: $secondary_bg;
                }
            }

            .right{
                margin-left: 142px;
                animation-duration: 2s;
                animation-name: fadeInDown;

                img{
                    width: 267px;
                    height: auto;
                }
            }
        }
    }

    .slider{
        position: relative;
        padding-bottom: 60px;
        margin: 45px -70px 0;
        
        @media(max-width: 1024px){
            margin-left: -10px;
            margin-right: -10px;
            padding-bottom: 25px;
        }

        .slick-track{
            display: flex;

            &:after, &:before{
                display: none;
            }
        }

        .slick-slide{
            float: none;
            margin: 0 25px;

            @media(min-width: 1920px){
                width: 460px!important;
            }

            @media(max-width: 1024px){
                width: 240px!important;
                margin: 0 10px;
            }

            img{
                width: 100%;
            }
        }

        .slick-dots{
            display: flex!important;
            justify-content: center;
            position: absolute;
            bottom: auto;
            top: calc(100% + 40px);

            li{
                width: auto;
                height: auto;
                margin: 0 25px;

                @media(max-width: 1024px){
                    margin: 0 15px;
                }
            }

            .slick-active button{
                background-color: $secondary_action;
            }

            button{
                width: 10px;
                height: 10px;
                background-color: $actions_gray;
                border-radius: 50%;

                @media(max-width: 1024px){
                    width: 5px;
                    height: 5px;
                    padding: 0;
                }

                &:before{
                    display: none;
                }
            }

            @media(max-width: 1024px){
                width: 100vw;
                top: calc(100% + 15px);
                left: -20px;
            }
        }
    }

    .offer{
        .offer-row{
            display: flex;
            justify-content: space-between;
            margin-top: 58px;

            &:first-child{
                margin-top: 45px;
            }
        }

        .item{
            display: flex;
            opacity: 0;
            
            &:first-child{
                margin-left: 0;
            }

            .icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                border-radius: 3px;
                border: 1px solid $secondary_action;
            }

            .offer-info{
                margin-left: 20px;

                .name{
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    color: $secondary_text;
                }

                .description{
                    max-width: 340px;
                    margin-top: 9px;
                    font-size: 14px;
                    line-height: 1.71;
                    color: $secondary_text;
                }
            }
        }

        &.animated{
            .offer-row{
                &:nth-child(1){
                    .item{
                        opacity: 1;
        
                        &:nth-child(1){
                            animation-duration: 0.9s;
                            animation-name: fadeInUp;
                            animation-fill-mode: both;
                        }
            
                        &:nth-child(2){
                            animation-duration: 1.2s;
                            animation-name: fadeInUp;
                            animation-fill-mode: both;
                        }
                    }
                }

                &:nth-child(2){
                    .item{
                        opacity: 1;
        
                        &:nth-child(1){
                            animation-duration: 1.5s;
                            animation-name: fadeInUp;
                            animation-fill-mode: both;
                        }
            
                        &:nth-child(2){
                            animation-duration: 1.8s;
                            animation-name: fadeInUp;
                            animation-fill-mode: both;
                        }
                    }
                }

                &:nth-child(3){
                    .item{
                        opacity: 1;
        
                        &:nth-child(1){
                            animation-duration: 2.1s;
                            animation-name: fadeInUp;
                            animation-fill-mode: both;
                        }
            
                        &:nth-child(2){
                            animation-duration: 2.4s;
                            animation-name: fadeInUp;
                            animation-fill-mode: both;
                        }
                    }
                }
            }
        }
    }

    .plans{
        .plan-header{
            display: flex;
            margin: 25px 0 30px;
            opacity: 0;

            .main-btn{
                width: 220px;
                height: 45px;
                margin-left: 30px;
                background-color: $secondary_bg;
                font-size: 16px;
                line-height: 1.5;
                color: $secondary_text;

                &.active{
                    background-color: $secondary_action;
                    color: $secondary_bg;
                }

                &:first-child{
                    margin-left: 0;
                }
            }
        }

        &.animated .plan-header{
            opacity: 1;
            animation-duration: 1s;
            animation-name: fadeInUp;
            animation-fill-mode: both;
        }

        .plan-body{
            display: flex;

            .plan{
                width: 300px;
                margin-left: 35px;
                padding: 15px 0 25px;
                text-align: center;
                background-color: $secondary_bg;
                opacity: 0;

                &:first-child{
                    margin-left: 0;
                }

                .memory{
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 1.88;
                    color: $secondary_text;
                }

                .price{
                    margin-top: 15px;
                    font-size: 30px;
                    font-weight: 500;
                    line-height: 2;
                    color: $secondary_text;
                    text-align: center;
                    
                    & > div{
                        display: inline-block;
                        position: relative;
                        left: 10px;
                    }

                    .main-price{
                        font-size: 60px;
                        line-height: 1;
                    }
                }

                .main-btn{
                    width: 234px;
                    height: 45px;
                    margin: 10px auto 0;
                    font-size: 16px;
                    line-height: 1.25;
                    color: $secondary_bg;
                }

                .memory-price{
                    margin-top: 20px;
                    font-size: 14px;
                    line-height: 1.43;
                    color: $secondary_text;
                }
            }
        }
        
        &.animated .plan-body .plan{
            opacity: 1;
        }

        &.animated .plan-body .plan:nth-child(1){
            animation-duration: 1.3s;
            animation-name: fadeInUp;
            animation-fill-mode: both;
        }

        &.animated .plan-body .plan:nth-child(2){
            animation-duration: 1.6s;
            animation-name: fadeInUp;
            animation-fill-mode: both;
        }

        &.animated .plan-body .plan:nth-child(3){
            animation-duration: 1.9s;
            animation-name: fadeInUp;
            animation-fill-mode: both;
        }

        .plan-benefits{
            margin-top: 30px;
            padding: 17px 0 35px;
            font-size: 0;
            border-radius: 3px;
            background-color: $secondary_bg;
            border: 1px solid $secondary_action;
            opacity: 0;

            .benefit{
                display: inline-flex;
                align-items: center;
                width: 33.33%;
                margin-top: 18px;
                padding-left: 30px;
            }

            span{
                margin-left: 7px;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.43;
                color: $secondary_text;
            }
        }

        &.animated .plan-benefits{
            opacity: 1;
            animation-duration: 2.5s;
            animation-name: fadeInUp;
            animation-fill-mode: both;
        }
    }

    .clients{
        margin-top: 18px;
        text-align: center;
        font-size: 0;

        div{
            display: inline-block;
            width: 80px;
            height: 70px;
            margin: 0 23px;
        }
    }

    .faq{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 15px;

        .faq-column{
            width: calc(50% - 15px);
        }

        .item{
            height: 47px;
            margin-top: 20px;
            padding: 0 16px;
            border-radius: 3px;
            background-color: $secondary_bg;
            overflow-y: hidden;
            transition: .3s;
            opacity: 0;

            .label{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 12px 0 13px;
                cursor: pointer;

                span{
                    font-size: 14px;
                    line-height: 1.71;
                    color: $secondary_text;
                }

                img{
                    width: 16px;
                    height: 16px;
                }
            }

            .content{
                padding: 7px 0 13px;
                font-size: 12px;
                line-height: 1.83;
                color: $secondary_text;
                
            }
        }

        &.animated .item{
            opacity: 1;
        }

        &.animated .faq-column:nth-child(1){
            .item:nth-child(1){
                &.open{
                    height: 173px;

                    @media(max-width: 1024px){
                        height: 152px;
                    }
                }
                animation-duration: 1s;
                animation-name: fadeInRight;
                animation-fill-mode: both;
            }

            .item:nth-child(2){
                &.open{
                    height: 113px;

                    @media(max-width: 1024px){
                        height: 106px;
                    }
                }
                animation-duration: 1.5s;
                animation-name: fadeInRight;
                animation-fill-mode: both;
            }

            .item:nth-child(3){
                &.open{
                    height: 133px;

                    @media(max-width: 1024px){
                        height: 120px;
                    }
                }
                animation-duration: 1s;
                animation-name: fadeInRight;
                animation-fill-mode: both;
            }
        }

        &.animated .faq-column:nth-child(2){
            .item:nth-child(1){
                &.open{
                    height: 153px;

                    @media(max-width: 1024px){
                        height: 136px;
                    }
                }
                animation-duration: 1s;
                animation-name: fadeInLeft;
                animation-fill-mode: both;
            }

            .item:nth-child(2){
                &.open{
                    height: 153px;

                    @media(max-width: 1024px){
                        height: 138px;
                    }
                }
                animation-duration: 1.5s;
                animation-name: fadeInLeft;
                animation-fill-mode: both;
            }

            .item:nth-child(3){
                &.open{
                    height: 113px;

                    @media(max-width: 1024px){
                        height: 105px;
                    }
                }
                animation-duration: 1s;
                animation-name: fadeInLeft;
                animation-fill-mode: both;
            }
        }
    }

    .contact{
        display: flex;
        margin-top: 37px;

        .left{
            width: 100%;
            max-width: 510px;
            opacity: 0;

            .input-row{
                display: flex;
                justify-content: space-between;
            }

            textarea, input{
                padding: 11px 16px 12px;
                font-size: 14px;
                line-height: 1.71;
                color: $secondary_text;
                border: 1px solid $border_primary;
                border-radius: 3px;
                background-color: $actions_gray;
            }

            textarea{
                width: 100%;
                height: 95px;
                margin: 28px 0 24px;
            }

            input{
                width: calc(50% - 15px);
            }

            .main-btn{
                width: 100%;
                height: 47px;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1.5;
                font-size: 16px;
                color: $text_gray;
            }
        }

        .right{
            width: 100%;
            max-width: 410px;
            margin-left: 50px;
            padding: 20px 25px 23px;
            border-radius: 3px;
            background-color: $secondary_bg;
            opacity: 0;

            .label{
                font-size: 24px;
                font-weight: 500;
                line-height: 1.42;
                color: $primary_text;
            }

            .description{
                max-width: 330px;
                margin-top: 10px;
                font-size: 14px;
                line-height: 1.57;
                color: $primary_text;
            }

            .social{
                display: flex;
                align-items: center;
                margin-top: 98px;
                
                a{
                    margin-left: 11px;

                    &:first-child{
                        margin-left: 0;

                        img{
                            height: 18px;
                        }
                    }

                    img{
                        height: 24px;
                        width: auto;
                    }
                }
            }
        }

        &.animated{
            .left, .right{
                opacity: 1;
            }

            .left{
                animation-duration: 1.5s;
                animation-name: fadeInUp;
                animation-fill-mode: both;
            }

            .right{
                animation-duration: 2.5s;
                animation-name: fadeInUp;
                animation-fill-mode: both;
            }
        }
    }
}

.slider-page{
    overflow: hidden;
}

.contact-section{
    .section-header .description{
        margin-top: 22px!important;
    }
}

.client-container{
    width: 100%;
    max-width: 1016px;
    margin: 0 auto;
}

.faq-page{
    padding-top: 210px;
}

.cookie-modal{
    position: fixed;
    width: 510px;
    bottom: 27px;
    left: calc(50% - 485px);
    padding: 14px 16px 14px;
    border-radius: 3px;
    background-color: $secondary_bg;
    border: 1px solid $secondary_action;

    .label{
        font-size: 18px;
        line-height: 1.33;
        font-weight: bold;
        color: $secondary_text;
    }

    .description{
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.71;
        color: $secondary_text;
    }

    .btn-wrap{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        .main-btn{
            width: calc(50% - 15px);
            height: 32px;
            font-size: 11px;
            text-transform: uppercase;

            &:first-child{
                color: $secondary_text;
                background-color: $actions_gray;
            }

            &:last-child{
                color: $secondary_bg;
                background-color: $secondary_action;
            }
        }
    }
}