@import "./variables";
@import "~bootstrap/scss/bootstrap";

@font-face {
	font-family: 'InterUIMedium';
    src: url('./assets/font/Inter-UI-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'InterUI';
    src: url('./assets/font/Inter-UI-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'InterUI';
    src: url('./assets/font/Inter-UI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'InterUI', Arial, sans-serif;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: $primary_bg;
}

li{
    list-style: none;
}

a{
    text-decoration: none!important;
}

.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.dashboard-container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.main-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary_action;
    border-radius: 3px;
    color: $secondary_bg;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'InterUIMedium';

    span{
        color: $secondary_bg;
        text-transform: uppercase;
        cursor: pointer;
        font-family: 'InterUIMedium';
    }

    a{
        color: $secondary_bg;
        text-transform: uppercase;
        cursor: pointer;
        font-family: 'InterUIMedium';
    }
}

.page{
    .section-header{
        &.centered{
            text-align: center;
        }

        .label{
            font-size: 40px;
            font-weight: 500;
            line-height: 1.2;
            color: $primary_text;
            font-family: 'InterUIMedium';
        }

        .description{
            margin-top: 25px;
            font-size: 16px;
            line-height: 1.75;
            color: $secondary_text;
        }
    }
}

.main-block{
    margin-top: 31px;
    padding: 26px 32px 32px;
    background-color: $text_gray;

    .label{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 14px;
        font-size: 20px;
        line-height: 1.4;
        color: $secondary_text;
        font-weight: normal;

        .custom-tooltip{
            font-size: 12px;
            line-height: 1.67;
            color: #4b4c55;
            cursor: pointer;
        }

        .status{
            position: relative;
            top: 3px;
            line-height: 1.82;
            font-size: 11px;
            text-transform: uppercase;
            color: $secondary_action;
            font-weight: 700;

            &:before{
                content: '';
                width: 5px;
                height: 5px;
                position: absolute;
                top: 50%;
                left: -10px;
                transform: translateY(-50%);
                border-radius: 50%;
                background-color: $secondary_action;
            }
        }
    }

    .sublabel{
        margin-top: -4px;
        font-size: 12px;
        line-height: 1.67;
        color: $secondary_text;
    }
}

.logs textarea{
    display: none;
}

.dashboard .main-btn{
    position: relative;
    font-family: "InterUIMedium";
    background-color: $actions_gray;
    font-size: 12px;
    line-height: 1.5;
    color: $secondary_text;
    text-align: center;
    transition: .3s;

    &.disabled{
        opacity: 0.5;
        cursor: default;
    }

    &.hover{
        color: $secondary_text;
        background-color: $actions_gray;

        &:hover{
            color: $secondary_bg;
            background-color: $secondary_action;
        }
    }

    &.active{
        color: $secondary_bg;
        background-color: $secondary_action;
    }

    &.error{
        color: $text_gray;
        background-color: $main_error;
    }

    span{
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
    }

    img{
        position: absolute;
        top: 15px;
        right: 12px;
    }

    .select-wrap{
        position: absolute;
        width: 100%;
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: .3s;
        z-index: 1000;

        span{
            display: inline-block;
            width: 100%;
            height: 48px;
            line-height: 46px;
            background-color: $secondary_action;
            cursor: pointer;

            &:hover{
                background-color: #fff;
            }
        }

        &.opened{
            top: 0;
            left: 0;
            height: auto;
        }
    }
}

.select{
    cursor: pointer;

    .select-wrap{
        position: absolute;
        width: 100%;
        text-align: center;
        height: 0;
        overflow: hidden;
        transition: .3s;
        z-index: 1000;

        span{
            display: inline-block;
            width: 100%;
            height: 48px;
            line-height: 46px!important;
            background-color: #fff;
            color: #2c2e34!important;
            cursor: pointer;

            &:hover{
                background-color: #00e5b9;
            }
        }

        &.opened{
            top: 0;
            left: 0;
            height: auto;
        }
    }
}

.realeses-container .custom-tooltip{
    display: none;
}

.m-0{
    margin: 0!important;
}

.pb-22{
    padding-bottom: 22px!important;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
  
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
  
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
  
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
  
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@media(max-width: 1920px){
    .page-section .slider .slide-part-wrap {
        width: 100%;
        margin: 0;
        justify-content: center;

        .slide-part{
            margin: 0 20px;

            img{
                width: 100%;
            }
        }
    }
}

@media(max-width: 1366px){
    .page-section .slider .slide-part-wrap {
        width: 100%;
        margin: 0;
        justify-content: center;

        .slide-part{
            margin: 0 20px;

            &:nth-child(odd){
                display: none;
            }
        }
    }
}

@media(max-width: 1200px){
    .dashboard-container{
        padding: 0 20px;
    }

    .dashboard .page.home{
        flex-wrap: wrap;
    }

    .dashboard .page.home .left{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .main-block:first-child{
            width: 400px;
        }

        .main-block:last-child{
            width: calc(100% - 430px);
        }
    }

    .dashboard .realeses .item{
        justify-content: flex-start;

        .details{
            flex: 1;
        }
    }

    .dashboard .page.home .right{
        width: 100%;
        margin-left: 0;
    }

    .page.residental .block-row{
        flex-wrap: wrap;
    }

    .page.residental .right .chart{
        display: none;
    }

    .page.residental .right .server-details .custom-row{
        flex-wrap: wrap;

        .item{
            width: calc(50% - 15px);
            margin-left: 25px;

            &:nth-child(3){
                margin-top: 15px;
                margin-left: 0;
            }

            &:nth-child(4){
                margin-top: 15px;
            }
        }
    }
}

@media(max-width: 1024px){    
    .page{
        padding: 0 20px;
    }

    .page-section{
        padding-top: 60px;
    }

    .page-section.intro-section{
        padding: 40px 0 120px;
    }

    .page-section.intro-section .home-intro{
        flex-direction: column;
    }

    .page-section.intro-section .home-intro .left{
        order: 2;
        margin-top: 41px;
    }

    .page-section.intro-section .home-intro .right{
        order: 1;
        margin-left: 0;
    }

    .page-section.intro-section .home-intro .left .logo img{
        width: 190px;
    }

    .page-section.intro-section .home-intro .left .subtitle{
        font-size: 21px;
        margin-top: 10px;
    }

    .page-section.intro-section .home-intro .left .description{
        font-size: 14px;
        margin-top: 10px;
    }

    .page-section.intro-section .home-intro .left .main-btn{
        width: 180px;
        height: 40px;
    }

    .page-section.intro-section .home-intro .right img{
        width: 200px;
    }

    .page .section-header .label{
        font-size: 20px;
    }

    .page .section-header .description{
        font-size: 12px;
        margin-top: 10px;
    }

    .page-section .slider{
        margin-top: 20px;
    }

    .page-section .slider .carousel-indicators{
        top: calc(100% + 10px);
    }

    .page-section .offer .item .offer-info .name{
        font-size: 12px;
    }

    .page-section .offer .item .offer-info .description{
        font-size: 10px;
    }

    .page-section .offer .offer-row{
        flex-wrap: wrap;
        margin-top: 0;

        &:first-child{
            margin-top: 0;
        }
    }

    .page-section .offer .offer-row .item{
        width: 100%;
        margin-top: 30px;
    }

    .page-section .plans .plan-header{
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .page-section .plans .plan-header .main-btn{
        width: calc(50% - 15px);
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .page-section .plans .plan-body{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .page-section .plans .plan-body .plan{
        width: calc(50% - 12.5px);
        margin-left: 0;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .page-section .plans .plan-header .main-btn{
        font-size: 10px;
    }

    .page-section .plans .plan-body .plan .memory{
        font-size: 20px;
    }

    .page-section .plans .plan-body .plan .price{
        font-size: 16px;
        margin-top: 11px;
    }

    .page-section .plans .plan-body .plan .price .main-price{
        font-size: 40px;
    }

    .page-section .plans .plan-body .plan .main-btn{
        width: 115px;
        height: 38px;
        font-size: 10px;
        margin-top: 3px;
    }

    .page-section .plans .plan-body .plan .memory-price{
        font-size: 8px;
        margin-top: 14px;
    }

    .page-section .plans .plan-benefits{
        padding: 1px 0 14px;
    }

    .page-section .plans .plan-benefits{
        margin-top: 13px;
    }

    .page-section .plans .plan-benefits .benefit{
        width: 50%;
    }

    .page-section .plans .plan-benefits span{
        font-size: 10px;
    }

    .page-section .clients div{
        width: 60px;
        margin: 0 4.5px;

        img{
            width: 100%;
        }
    }

    .page-section .faq{
        flex-wrap: wrap;
    }

    .page-section .faq .faq-column{
        width: 100%;
    }

    .page-section .faq .item{
        margin-top: 10px;
    }

    .page-section .faq .item .label span{
        font-size: 10px;
    }

    .page-section .faq .item .content{
        font-size: 9px;
    }

    .page-section .contact{
        flex-wrap: wrap;
    }

    .page-section .contact .right{
        max-width: 100%;
        margin-left: 0;
        margin-top: 40px;
    } 

    .main-footer{
        margin-top: 60px;
        padding: 30px 20px;
    }

    .main-footer .footer-wrap{
        flex-wrap: wrap;
    }

    .main-footer .footer-col{
        padding-left: 0!important;
    }

    .main-footer .mobile-copyright{
        display: block;
    }

    .main-footer .footer-col .logo-col .copyright{
        display: none;
    }

    .main-footer .footer-col:nth-child(1){
        width: 100%;
        margin-bottom: 25px;
    }

    .main-footer .footer-col .logo-col .logo{
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        .subtitle{
            margin-left: 10px;
        }
    }

    .main-footer .footer-col .menu .label{
        font-size: 10px;
        margin-bottom: 0;
    }

    .main-footer .footer-col .menu .menu-col a{
        font-size: 8px;
        margin-top: 8px;
    }

    .main-footer .footer-col .social .links .label{
        font-size: 10px;

    }

    .main-footer .footer-col .social .links + a{
        font-size: 8px;
        margin-top: 28px;
    }

    .main-footer .footer-col .social .links a img{
        width: 12px;
    }

    .main-footer .footer-col .menu .menu-col{
        margin-left: 35px;

        &:nth-child(3){
            margin-left: 35px;
        }
    }

    .main-footer .footer-col:nth-child(2), .main-footer .footer-col:nth-child(1), .main-footer .footer-col:nth-child(3), .main-footer .footer-col .social{
        min-width: auto;
    }

    .main-footer .footer-col .logo-col .logo img{
        height: 24px;
    }

    .main-footer .footer-col .logo-col .logo .subtitle{
        font-size: 10px;
    }

    .cookie-modal{
        width: calc(100% - 40px);
        left: 20px;
    }

    .cookie-modal .label{
        font-size: 12px;
    }

    .cookie-modal .description{
        font-size: 10px;
    }

    .cookie-modal .btn-wrap .main-btn{
        font-size: 10px;
        width: calc(50% - 9px);
    }

    .cookie-modal .btn-wrap{
        margin-top: 10px;
    }

    .privacy{
        flex-wrap: wrap;
    }

    .privacy .left{
        width: 100%;
    }

    .privacy .right{
        width: 100%;
    }

    .page-section .slider .carousel-indicators li{
        width: 5px;
        height: 5px;
        margin: 0 12.5px;
    }

    .page-section .offer .item .icon{
        height: 72px;
    }

    .page-section .plans .plan-body{
        margin-top: 20px;
    }

    .page-section .plans .plan-header .main-btn{
        height: 40px;
        margin-bottom: 0;
    }

    .page.residental .block-row:nth-child(2) {
        flex-wrap: wrap;

        .left, .right{
            width: 100%;
            margin: 0;
        }
    }

    .page.isp{
        flex-wrap: wrap;
        margin-bottom: 18px;

        .left, .right{
            width: 100%;
            margin: 0;
        }
    }

    .page.servers{
        flex-wrap: wrap;

        .left, .right{
            width: 100%;
            margin: 0;
        }
    }

    .tarifs {
        flex-wrap: wrap;

        .main-block{
            width: calc(50% - 12.5px);
            max-width: 100%;
            margin-left: 25px;
    
            &:nth-child(1), &:nth-child(3){
                margin-left: 0;
            } 
        }
    }
}

@media(max-width: 900px){
    .dashboard .page.home .left{
        flex-wrap: wrap;

        .main-block:first-child{
            width: 100%;
        }

        .main-block:last-child{
            width: 100%;
        }
    }

    .dashboard .user-details .info .invite{
        max-width: 200px;
    }
}

@media(max-width: 768px){
    .page-section .slider .slide-part-wrap {
        margin-left: -20px;
        justify-content: space-between;

        .slide-part{
            
            img{
                width: 240px;
            }
        }
    }

    .privacy{
        margin-top: 80px;
    }

    .privacy .left .label .date{
        font-size: 11px;
    }

    .privacy .left .label .title{
        font-size: 27px;
    }

    .privacy .right .item {
        margin-top: 40px;
    }

    .privacy .right .item .label{
        font-size: 16px;
    }

    .privacy .right .item .content{
        font-size: 10px;
    }

    .dashboard .page.home .left .main-block:first-child{
        margin-top: 0;
    }

    .main-block{
        margin-top: 24px;
        padding: 22px 20px 27px;

        .label{
            font-size: 16px;
            line-height: 1.5;
        }
    }

    .dashboard .user-details .avatar img{
        width: 100px;
        height: 100px;
    }

    .dashboard .user-details .info .welcome{
        font-size: 9px;
        line-height: 1.78;
    }

    .dashboard .user-details .info .name{
        font-size: 25px;
        line-height: 1.2;
    }

    .dashboard .user-details .info .invite{
        width: 175px;
        height: 38px;
    }

    .dashboard .main-btn{
        font-size: 10px;
        line-height: 1.2;
    }

    .dashboard .realeses .item img{
        width: 75px;
    }

    .dashboard .realeses .item{
        margin-bottom: 20px;
        padding: 15px 16px 13px 14px;
    }

    .dashboard .realeses .item .header .name, .dashboard .realeses .item .header .date{
        font-size: 8px;
        line-height: 1.5;
    }

    .dashboard .realeses .item .description{
        margin-top: 6px;
        font-size: 10px;
        line-height: 1.4;
    }

    .main-block .label .custom-tooltip{
        font-size: 10px;
        line-height: 2;
    }

    .plans .label{
        margin-bottom: -6px;
    }

    .plans-container .plan{
        display: none;

        &.mobile{
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            margin-top: 20px;

            &:first-child{
                margin-top: 14px;
            }
        }
    }

    .plans-container .plan .cell-container{
        width: calc(100% - 50px);
        padding: 12px 14px 12px;
        background-color: #2c2e34;
    }

    .plans-container .plan .plan-btn{
        width: 40px;
        height: auto;
        margin-left: 10px;
    }

    .plans-container .plan .plan-cell{
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 100%!important;
        margin-top: 11px;
        
        .header, .body{
            border-left: none;
            margin: 0;
            padding: 0;
        }

        .header{
            min-width: 97px;
            font-size: 9px;
            line-height: 2.22;
        }

        .body{
            font-size: 10px;
            line-height: 1.5;
        }
    }

    .plans-container .plan .plan-cell:first-child{
        margin-top: 0;
        padding-bottom: 0;
    }

    .plans-container .plan .plan-cell:last-child{
        padding-bottom: 0;
    }

    .dashboard .user-details .info{
        margin-left: 20px;
    }

    .realeses-container .custom-tooltip{
        display: block;
    }

    .page.residental .block-row:nth-child(1) {
        .left{
            order: 2;
        }

        .right{
            order: 1;
            margin-left: 0;

            .main-block{
                margin-top: 0;
            }
        }

        .left, .right{
            width: 100%;
        }
    }

    .page.residental .right .server-details .custom-row{
        margin-top: 0;
    }

    .page.residental .right .server-details .custom-row .item .header{
        font-size: 9px;
        line-height: 2.22;
    }

    .page.residental .right .server-details .custom-row .item .body{
        padding: 12px 14px 11px;
        font-size: 10px;
        line-height: 1.5;
    }

    .page.residental .left .proxies .select-qty .select{
        padding: 0 14px;
        height: 38px;
        line-height: 36px;
    }

    .page.residental .left .proxies .select-qty .label{
        font-size: 9px;
        line-height: 2.22;
    }

    .page.residental .left .proxies .select-qty .select span{
        font-size: 10px;
        line-height: 1.5;
    }

    .logs .list-wrapp{
        padding-top: 12px!important;
    }

    .logs .list{
        padding: 0 14px 7px!important;
        height: 213px!important;
    }

    .list p{
        word-break: break-word!important;
        font-size: 10px!important;
    }

    .page.residental .left .proxies .qty-container .main-btn{
        width: 138px;
        height: 38px;
    }

    .page.residental .left .proxies .qty-container .qty-input .control{
        height: 36px;
        width: 40px;
    }

    .page.residental .left .proxies .qty-container .qty-input input{
        height: 36px;
        width: 53px;
    }

    .page.residental .left .logs .actions .main-btn{
        width: 135px;
        height: 38px;

        &:last-child{
            display: none;
        }
    }

    .page.residental .left .logs .actions .btn-wrap{
        width: auto;
    }

    .page.residental .right .purchase-center .sublabel{
        margin-top: -6px;
        font-size: 10px;
        line-height: 1.4;
    }

    .page.residental .right .purchase-center .select-qty{
        padding-top: 14px;

        .label{
            font-size: 9px;
            line-height: 2.22;
        }
    }

    .page.residental .right .purchase-center .select-qty .select{
        height: 38px;
        line-height: 36px;
        padding: 0 14px;
        
        span{
            font-size: 10px;
            line-height: 1.5;
        }
    }

    .page.residental .right .purchase-center .note{
        margin-bottom: 26px;
        margin-top: 17px!important;
    }

    .note{
        padding: 12px 14px 11px!important;
        font-size: 10px!important;
        line-height: 1.6!important;
    }

    .page.residental .right .purchase-center .actions .main-btn{
        width: 135px;
        height: 38px;
    }

    .page.residental{
        margin-bottom: 38px;
    }

    .dashboard .page.home{
        margin-bottom: 18px;
    }

    .main-block .sublabel{
        line-height: 1.4;
        font-size: 10px;
        margin-top: -6px;
    }

    .page.isp .left .collections .actions{
        justify-content: space-between;
        margin-top: 14px;

        .main-btn{
            width: 135px;
            height: 38px;
        }
    }

    .main-block .label .status{
        line-height: 2.22;
        font-size: 9px;
    }

    .page.isp .left .server-details .custom-row{
        flex-wrap: wrap;
    }

    .page.isp .left .server-details .custom-row .item{
        width: calc(50% - 12.5px);
        margin-left: 25px;

        &:nth-child(1), &:nth-child(3){
            margin-left: 0;
        }

        &:nth-child(3), &:nth-child(4){
            margin-top: 14px;
        }

        .header{
            font-size: 9px;
            line-height: 2.22;
        }

        .body{
            height: 38px;
            line-height: 1.5;
            font-size: 10px;
        }
    }

    .page.isp .left .logs .label{
        margin-bottom: 14px;
    }

    .page.isp .left .logs .actions{
        padding-top: 26px;
    }

    .page.isp .left .logs .actions .main-btn{
        width: 135px;
        height: 38px;
    }

    .page.isp .left .logs .actions .btn-wrap{
        width: auto;
    }

    .page.isp .left .logs .actions .btn-wrap .main-btn:last-child{
        display: none;
    }

    .page.isp .right .ips .input .left .header{
        font-size: 9px;
        line-height: 2.22;
    }

    .page.isp .right .ips .input .left input{
        height: 38px;
        line-height: 1.5;
        font-size: 10px;
    }

    .page.isp .right .ips .input .main-btn{
        width: 65px;
        margin-left: 25px;
        height: 38px;
    }

    .page.isp .right .ips .note{
        margin-top: 17px;
        margin-bottom: 26px;
    }

    .page.isp .right .ips .ips-container .header{
        font-size: 9px;
        line-height: 2.22;
        margin-top: 0;
    }

    .page.isp .right .ips .ips-container .list .item{
        width: 86px;
        height: 30px;
        margin-left: 4px;
        margin-right: 4px;
        
        span{
            line-height: 1.6;
            font-size: 10px;
        }
    }

    .page.isp .right .purchase-center .select-qty {
        padding-top: 14px;

        .label{
            font-size: 9px;
            line-height: 2.22;
            
        }
    }

    .page.isp .right .purchase-center .select-qty .select{
        height: 38px;
        line-height: 36px;
        padding: 0 14px;
        
        span{
            font-size: 10px;
            line-height: 1.5;
        }
    }

    .page.isp .right .purchase-center .note{
        margin-top: 17px;
        margin-bottom: 26px;
    }

    .page.isp .right .purchase-center .actions .main-btn{
        width: 135px;
        height: 38px;
    }

    .page.servers .left .server-details .custom-row{
        flex-wrap: wrap;
    }

    .page.servers .left .server-details .custom-row .item {
        width: calc(50% - 12.5px);
        margin-left: 25px;

        &:nth-child(1), &:nth-child(3){
            margin-left: 0;
        }

        &:nth-child(3), &:nth-child(4){
            margin-top: 14px;
        }

        .header{
            font-size: 9px;
            line-height: 2.22;
        }

        .body{
            height: 38px;
            line-height: 1.5;
            font-size: 10px;
        }

        &.hidden{
            width: 0;
        }        
    }

    .page.servers .left .server-details .custom-row:last-child{
        .item:last-child{
            margin-left: 0;
            margin-top: 17px;
            width: 100%;

            .main-btn{
                height: 38px;
            }
        }
    }
    
    .page.servers .right .select-qty {
        padding-top: 14px;

        .label{
            font-size: 9px;
            line-height: 2.22;
            
        }
    }

    .page.servers .right .select-qty .select{
        height: 38px;
        line-height: 36px;
        padding: 0 14px;
        
        span{
            font-size: 10px;
            line-height: 1.5;
        }
    }

    .page.servers .right .note{
        margin-top: 17px;
        margin-bottom: 26px;
    }

    .page.servers .right .actions{
        justify-content: space-between;

        .main-btn{
            width: 135px;
            height: 38px;
        }
    }

    .page.servers{
        margin-bottom: 18px;

        .left .main-block:first-child{
            margin-top: 0;
        }
    }

    .caregories{
        flex-wrap: wrap;
        padding-top: 14px;

        .main-btn{
            width: calc(50% - 12.5px);
            height: 38px;
            margin-left: 25px;
            text-align: center;

            span br{
                display: block;
            }

            &:nth-child(3){
                margin-top: 17px;
                margin-left: 0;
            }

            &:nth-child(4){
                margin-top: 17px;
            }

            &:first-child{
                height: 38px;
            }
        }
    }

    .dashboard .main-btn img{
        top: 12px;
    }

    .tarifs .main-block{
        margin-top: 24px;
        padding: 0 20px 10px;

        &:last-child{
            padding-top: 10px;
        }
    }

    .tarifs .main-block .memory{
        font-size: 20px;
        line-height: 2.5;
    }

    .tarifs .main-block .price .big-price{
        font-size: 40px;
        line-height: 1;
    }

    .tarifs .main-block .price{
        margin-top: 11px;
        font-size: 16px;
        line-height: 3.13;
    }

    .tarifs .main-block .price .main-price{
        left: 4px;
    }

    .tarifs .main-block .main-btn{
        width: 115px;
        height: 38px;
        margin: 3px auto 0;
    }

    .tarifs .main-block .memory-price{
        margin-top: 14px;
        font-size: 8px;
        line-height: 1.5;
    }

    .tarifs .main-block .price .sale{
        top: 0px;
        right: 40px;
        font-size: 8px;
        line-height: 2;
    }

    .tarifs .main-block .list p{
        margin-top: 13px;
        line-height: 1.6;
    }

    .clients {
        margin: 0 -5.5px;

        div{
            width: 50px;
            height: 50px;
            margin-left: 5.5px;
            margin-right: 5.5px;
            margin-top: -15px;

            img{
                width: 100%;
                height: auto;
            }
        }
    }

    .page.purchase{
        margin-bottom: 18px;
    }

    .main-block.customers .sublabel{
        margin-top: -6px;
        margin-bottom: 15px;
    }

    .tarifs .main-block .location{
        position: static;
        transform: none;
        text-align: center;
        margin-top: 9px;
    }

    .page.servers .unsibscribe-popup .main-block{
        width: 335px;
    }

    .page.servers .unsibscribe-popup .main-block .alert{
        margin-top: 14px;
        margin-bottom: 26px;
        padding: 12px 14px 11px;
        font-size: 10px;
        line-height: 1.6;
    }

    .page.servers .unsibscribe-popup .main-block .actions{
        justify-content: space-between;

        .main-btn{
            width: 135px;
            height: 38px;
        }
    }

    .payment-status .actions{
        justify-content: space-between;
        margin-top: 14px;
    }

    .payment-status .actions .main-btn{
        width: 135px;
        height: 38px;
    }
}

@media(max-width: 500px){
    .tarifs .main-block .price .sale{
        right: 2px;
        top: -10px;
    }
}